<%- include('partials/header.ejs') %>

<h1>Edit your post</h1>

<form method="post" action="/submit">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" value="<%= locals.title %>" required>
    <label for="content">Content</label>
    <textarea id="content" name="content" required> <%= locals.content %> </textarea>
    <label for="author">Author</label>
    <input type="text" id="author" name="author" value="<%= locals.author %>" required>
    <input type="hidden" name="id" value="<%= locals.id %>">
    <input type="reset" value="Reset">
    <input type="submit" name="mode" value="Submit">
</form>

<%- include('partials/footer.ejs') %>